<h1>Logged in</h1>
<dl>
    <dt>sub</dt>
    <dd><%= claims.sub %></dd>

    <dt>nonce</dt>
    <dd><%= claims.nonce %></dd>

    <dt>at_hash</dt>
    <dd><%= claims.at_hash %></dd>

    <dt>aud</dt>
    <dd><%= claims.aud %></dd>

    <dt>exp</dt>
    <dd><%= claims.exp %></dd>

    <dt>iat</dt>
    <dd><%= claims.iat %></dd>

    <dt>iss</dt>
    <dd><%= claims.iss %></dd>

    <dt>access_token</dt>
    <dd><%= tokens.access_token %></dd>

    <dt>expires_at</dt>
    <dd><%= tokens.expires_at %></dd>

    <dt>id_token</dt>
    <dd><%= tokens.id_token %></dd>

    <dt>scope</dt>
    <dd><%= tokens.scope %></dd>

    <dt>token_type</dt>
    <dd><%= tokens.token_type %></dd>
</dl>